<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Arena</title>
    <link rel="stylesheet" href="public/styles/style.css">
</head>

<body>

    <!--nav bar...use of html links-->
    
    <div class="topnav">
        <h1>Meal Arena</h1>
        <a class= 'active'href="#home">Home</a>
        <a  href="Menu">Menu</a>
        <a href="Contact">Contact</a>
        <a href="About us">About us</a>
        <!--search bar-->
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            
          </div>
        
    </div>

    <div class="brand_image">
        <img src="public/images/brand_ photo.jpg" alt="Brand_photo">
        <!--Inserting a heading and a paragraph inside an image-->
        <div class="overlay">  
            <h2>Meal Arena</h2>
            <p>"Savor the Extraordinary: Where Every Bite Feels Like Home." </p>
            <br>
            <button>PLACE YOUR ORDER</button>
        </div>
    </div>

    <div class="Destination-container">
    <h3>Destination</h3>
     <p>Step into a world where every meal is an exploration, and every bite is a discovery. 
        <br>At Meal Arena, we invite you to embark on a culinary adventure that transcends
        the ordinary.
        <br>Our chefs, driven by passion and creativity, have meticulously crafted a menu that takes
        you on a journey <br>through diverse and tantalizing tastes.</p>
</div>

<div class="outing-container">
  
    <h4>Eat Together</h4>
    <p>Dine, Laugh, Repeat: Reserve a table for an evening filled with laughter<br>
    , delightful dishes, and the joy of friendship. Can't wait to see you!" </p>
    <br>
    <button>GET A RESERVATION</button>
       
</div>
     <div class="container">
<div class="craft_meat_container">
    
    
    <h5>CRAFTED IN THE KITCHEN</h5>
    <p>"Our kitchen is a symphony of flavors, where <br>every dish is carefully orchestrated to
     tantalize <br>your taste buds.<br>"In this culinary symphony, aromas play the role<br> of melodies. 
     The kitchen becomes a place where<br> fragrant spices, herbs, and sizzling ingredients<br> compose
    a harmonious symphony of scents.<br>The promise of rich, aromatic flavors fills the air,<br>
    creating anticipation and setting the stage for a <br> delightful dining experience.
    </p>
    </div>
    


<div id="ingredients-container">
    

    <h6>FRESH INGREDIENTS</h6>

    <p>
        In our culinary sanctuary, the heartbeat of each<br> dish is 
        the use of the freshest ingredients nature<br> has to offer.
        <br> Picture a kitchen where vibrant corn burst with<br> flavor,
        crisp capsicum are harvested at the peak<br>of freshness, and corgette
        are plucked just before <br>they dance into the pot. We take pride in
        crafting <br>our menu with an unwavering commitment to<br> sourcing locally and
        seasonally, ensuring that<br> every plate is a celebration of nature's bounty.
    </p>
</div>
<div class="masterchef-container">
    
    
    <h1>MASTER CHEF</h1>
    <p>"Our kitchen is a symphony of flavors, where <br>every dish is carefully orchestrated to
     tantalize <br>your taste buds.<br>"In this culinary symphony, aromas play the role<br> of melodies. 
     The kitchen becomes a place where<br> fragrant spices, herbs, and sizzling ingredients<br> compose
    a harmonious symphony of scents.<br>The promise of rich, aromatic flavors fills the air,<br>
    creating anticipation and setting the stage for a <br> delightful dining experience.
    </p>
</div>
    </div>
   
    
</body>
</html>