.topnav {
    background-color:yellow;
    overflow: hidden;
    display: flex; /* Make the topnav a flexbox container */
    justify-content: space-between; /* Align items with space between them */
    padding: 15px 20px; 
    height: 60px;
    
  }
  
  .topnav h1 {
    /* Move the header to the left */
    margin-left: 0;
    color:black;
    font-family: "Lobster";
  }
  
  .topnav a {
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman';
    color: white;
   font-size: 16px ;
   border-radius: 45px;
   text-decoration: none;
   padding: 15px 20px; /* Increased padding for each link */
   width:60px ;
   height:20px ;
   background-color:black;
   display: inline-block; /* Display links as block elements */
}
  
  search-bar {
    /* Adjust width and style to match your design */
    width: 200px; /* Example width */
    background-color: #ccc; 
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px; /* Position the search bar to the right */
  }
  
  .search-bar input {
    margin-top: 10%;
    padding: 5px;
    border: none;
    font-size: 16px;
    border-radius: 45px;
  }
  
  /*brand image styling*/
.brand_image img{
    width: 100%;
    height: 60%;
    }

 
/*adds items on top of a container*/
 .brand_image 
 .overlay{
position: absolute;
margin-top: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
/*Adds  a heading and  paragraph */
.Destination-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.Destination-container p{
    font-family: 'Times New Roman';
    font-size: 1.2rem;
}
.Destination-container h3{
    font-family: 'Times New Roman';
    font-size: 2rem;
}

.outing-container {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .outing-container h4{
   text-align: center;
   font-size: 2rem;
   font-family: 'Times New Roman';
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .outing-container p{
    font-size: 1.2rem;
    font-family: 'Times New Roman';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
.container {
    display: flex; /*uses flexbox layout structure */
    justify-content: space-between; /* Adjust this according to your spacing preference */
}

.craft_meat_container,
#ingredients-container,
.masterchef-container {
    width: 30%; /* Adjust the width according to your layout */
    box-sizing: border-box; /*ensures that padding and borders are included in the specific width*/
}
.craft_meat_container,
#ingredients-container,
.masterchef-container p{
    font-size: 1,2rem;
}

.craft_meat_container h5,
#ingredients-container h6,
.masterchef-container h1{
    font-size: 1.2rem;
}
.masterchef-container h1{
    margin-top: 10%;
}
#ingredients-container p{
    margin-top: 3%;
}

#ingredients-container p,
#ingredients-container h6,
.masterchef-container p,
.masterchef-container h5 {
    font-family: 'Times New Roman';
}

#ingredients-container,
.craft_meat_container,
.masterchef-container {
    display: inline-block; /* allows the containers to appear next to each other horizontally*/
    vertical-align: top; /* Align containers from the top */
    margin-bottom: 20px; /* Adjust this value for spacing between containers */
}
body{
    background-color: black;
}








